<section class="home">
  <div class="home__background" aria-hidden="true"></div>
  <div class="home__container">
    <h1 class="home__title"><span class="home__title__stylized">Budgetize<span></h1>
    <i class="material-icons center logo">account_balance_wallet</i>
    <h2 class="home__slogan">“Beware of little expenses; a small leak will sink a great ship.”</h2>
    <div class="home__buttons">
      <%=link_to new_user_session_path, action: 'go' do%>
        <div class="waves-effect waves-light btn home__buttons__btn"><i class="material-icons right">done</i>Login</div>
      <%end%>
      <%=link_to new_user_registration_path, action: 'go' do%>
        <div class="waves-effect waves-light btn home__buttons__btn"><i class="material-icons right">done_all</i>Sign Up</div>
      <%end%>
    </div>
  </div>
</section>