#brand-logo__logo-icon {
  font-size: 3.5rem;
  text-align: center;
}

.card-image {
  img {
    max-height: 10rem;
    padding: 0.5rem;
  }
}

.card-custom-font {
  color: #020024;
  font-size: 1.5rem;
}

.spacing {
  margin-bottom: 2rem;
}

.card-action {
  &__delete {
    font-size: 0.8rem;
  }
}

.new_group_btn {
  margin: 0 0 1rem 0;
}

.no-space {
  margin: 0.5rem !important;
}
