<div id="<%= dom_id expenditure %>">
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="https://placeimg.com/480/480/nature" alt="exp image" class="circle">
      <span class="title">
        <%= expenditure.name %>
      </span>
      <p> 
        Amount: <%= number_to_currency(expenditure.amount, unit: '$', separator: '.') %>
      </p>
      <br />
      <p>
        Category: GROUP NAME GOES HERE
      </p>
      <br />
      <hr class="spacing" />
         <%=button_to 'Delete Expenditure', expenditure_path(expenditure), {method: :delete, turbo_method: :delete, class:'waves-effect waves-light btn-small new_group_btn'} %> 
      <a href="#!" class="secondary-content">
        <i class="material-icons">
          style
        </i>
      </a>
    </li>
  </ul>

</div>
